<div class="col w-100% p-8px">
  {{ qyLowcodeService.menuFiles$ | async | json }}
  <p-panelMenu [model]="menuFiles" styleClass="w-full h-100% file-menu" #PanelMenu>
    <ng-template pTemplate="item" let-item>
      <a pRipple class="file-node flex items-center px-3 py-2 cursor-pointer text-14px">
        @if (item.type === QMenuFileType.directory) {
          <img class="w-20px h-20px" [src]="'assets/icons/' + (item.items && item.expanded ? 'directory_open' : 'directory_close') + '.svg'" />
        } @else {
          <img class="w-20px h-20px" [src]="'assets/icons/file.svg'" />
        }
        <span class="ml-2 flex-1">
          {{ item.label }}
        </span>
        <qy-menu-file-handle></qy-menu-file-handle>
      </a>
    </ng-template>
  </p-panelMenu>
</div>
