<div class="card h-100%">
  <p-splitter [style]="{ height: '100%' }" [panelSizes]="[18, 82]" [minSizes]="[10, 0]" styleClass="mb-5">
    <ng-template pTemplate>
      <qy-menu-file></qy-menu-file>
    </ng-template>
    <ng-template pTemplate>
      <p-splitter layout="vertical" [panelSizes]="[5, 95]">
        <ng-template pTemplate></ng-template>
        <ng-template pTemplate>
          <p-splitter [panelSizes]="[80, 20]">
            <ng-template pTemplate></ng-template>
            <ng-template pTemplate></ng-template>
          </p-splitter>
        </ng-template>
      </p-splitter>
    </ng-template>
  </p-splitter>
</div>
