<div class="self-container self-backdrop-fit">
  <!-- logo -->
  <qy-qiuy-logo class="cursor-pointer" (click)="flyto()"></qy-qiuy-logo>
  <!-- 顶部菜单 -->
  <qy-menu></qy-menu>
  <!-- 足迹模式时隐藏首页提要！ -->
  @let animationsName = qyHomeService.isFootprintMode ? "out-circle-hesitate1" : "in-circle-hesitate1";
  @let animationState = qyHomeService.isFootprintMode ? "out" : "in";
  <!-- 使用语言 -->
  <qy-language class="absolute z-100 left-10% top-20% clipPath-0" [class]="animationsName" [@circleAnimation]="animationState"></qy-language>
  <!-- 介绍 -->
  <div class="shape qiuy-photo-bg clipPath-0" [class]="animationsName" [@circleAnimation]="animationState">
    <div class="absolute z-999 w-306px font-bold -right-105% -translate-x-50% top-202px">
      <div class="text-42px mb-28px">
        <div class="lh-45px text-#a193c6">Not reading</div>
        <div class="lh-45px text-#b6cfd3">poetry</div>
        <div class="lh-45px text-#90eaf2 text-right">- Record</div>
      </div>
      <div class="text-16px text-#fff">
        <div class="lh-24px">个人集，多数内容记录于此</div>
        <div class="lh-24px">基于 Angular + Nest</div>
      </div>
    </div>
    <img src="assets/home/qiuy.pic2.jpg" class="backdrop-fit" width="100%" height="100%" />
  </div>
  <!-- 左侧足迹片段 --> 
  <qy-footprint-overview-fragment  class="w-80% rounded-12px absolute -translate-x-50% left-50% bottom-5% bg-red-10% z-100 ground-glass-10" [@circleAnimation]="animationState + '-fragment'"></qy-footprint-overview-fragment>
  <!-- 地图 -->
  <qy-base-cesium [styles]="cesiumStyle"></qy-base-cesium>
  <!-- 足迹切换 -->
  <uiverse-switch-footprint class="text-#fff absolute bottom-50px right-50px" [isFootprintMode]="qyHomeService.isFootprintMode" (onSwitchChange)="onSwitchChange($event)"></uiverse-switch-footprint>
</div>